[submodule "twitter-clone-backend"]
	path = twitter-clone-backend
	url = https://github.com/thubane96/Twitter_Clone_backend.git
[submodule "twitter-clone-frontend"]
	path = twitter-clone-frontend
	url = https://github.com/thubane96/Twitter_Clone_frontend.git
